@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>OH! hi, there.</h1>
<p>Thank you for use this app. </p>
<p>I could tell you a lot of thing about this app, but basically here you will find @ViewBag.NumOfGames BoardGames </p>
<p> and yes, that numer is dynamic.</p>